.glass {
    background-color: $c-glass;
    width: 80%;
    border: 1px solid #9486c4;
    border-radius: 15px;
    backdrop-filter: blur(0);
    justify-content: center;
    padding: 16px 33px;
    margin: 0% auto;
    z-index: 8;
    align-items: center;
    max-width: 450px;
    margin-top: 54px;
}
