.graph {
  margin-top: -100px;
  padding-top: 100px;
}

.graphique {
  background-color: $c-light;
  font-family: "sato";

  .title {
    text-align: center;
  }
  &__txt {
    width: 90%;
    margin: auto 5%;
  }

  &__lois {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $p-mobile;
    padding: 5%;
    margin: 0%;
    height: 150px;
  }

  &__boutons {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;

    button {
      background-color: rgba(245, 245, 245, 0.356);
      color: $c-graphique;
      padding: 5px 12px;
      text-align: center;
      text-decoration: none;
      font-size: $p-mobile;
      cursor: pointer;
      border: 1px solid #cdc7e3;
      border-radius: 10px;

      &:hover {
        background-color: #795fb6;
        color: #f5f5f5;
      }

      &:active,
      &:focus {
        background-color: #3e2f60;
        color: #f5f5f5;
      }
    }
  }
}

canvas {
  cursor: pointer;
}

@media screen and (min-width: 481px) {
  .graphique {
    &__lois {
      font-size: $p-tablet;
    }
    button {
      font-size: $p-tablet;
    }
    &__txt {
      font-size: $p-tablet;
    }
  }
}

@media screen and (max-width: 768px) {
  .graphique__boutons {
    display: inline-block;
    justify-content: center;
  }
  .graphique__lois {
    font-size: $p-desktop;
  }

  button {
    margin: 5px;
  }
}

@media screen and (min-width: 600px) {
  .graphique {
    &__container {
      max-height: 500px;
    }
  }
}
@media screen and (min-width: 768px) {
  .graphique {
    button {
      margin: 5px;
    }
    &__txt {
      font-size: $p-desktop;
    }
  }
}

@media screen and (min-width: 900px) {
  .graphique {
    &__container {
      max-width: 800px;
      margin: auto;
    }
    &__lois {
      max-width: 800px;
      margin: auto;
    }
    &__txt {
      display: block;
      max-width: 800px;
      margin: auto;
    }
  }
}
