.presentation {
    background-image: image-set(
        url(../assets/images/da/recapquiz.png) 1x,
        url(../assets/images/da/recapquiz@2x.png) 2x
    );
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
}

.context,
.present,
.difficult,
.equipe,
.pictures {
    margin: auto 16px;
    h2 {
        font-size: $h2-mobile;
        font-family: "Clash Display";
        font-weight: normal;
    }
    p {
        line-height: 1.6;
        font-size: $p-mobile;
        font-family: sato;
    }
    ul {
        list-style: circle;
        font-family: "Satoshi-Variable";
        line-height: 1.6;
        font-size: $p-mobile;
    }
}
.context,
.present,
.difficult,
.equipe {
    margin-bottom: 74px;
}

.pictures {
    width: 100%;
    margin: auto;
    max-width: 500px;
    img {
        width: 100%;
    }
    figure {
        margin-bottom: 54px;
    }
    figcaption {
        font-size: 14px;
        font-family: sato;
    }
    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
.equipe {
    &__avatars {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        margin: auto 5%;

        &--salwa {
            background-color: #eeeaea;
        }

        img {
            width: 100px;
            border-radius: 50%;
            margin: 16px;
        }
    }
    &__li {
        transition: 0.3s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}

@media (min-width: 481px) {
    .context,
    .present,
    .difficult,
    .equipe,
    .pictures {
        h2 {
            font-size: $h2-tablet;
        }
        p,
        ul {
            font-size: $p-tablet;
        }
    }
    .pictures {
        figcaption {
            font-size: $p-mobile;
        }
    }
}

@media (min-width: 769px) {
    .context,
    .present,
    .difficult,
    .equipe {
        width: 70%;
        margin: auto 15% 250px auto;

        h2 {
            font-size: $h2-desktop;
        }
        p,
        ul {
            font-size: $p-desktop;
        }
    }
    .pictures {
        //width: 500px;
        margin: auto;

        h2 {
            font-size: $h2-desktop;
            text-align: center;
        }
        figcaption {
            font-size: 18px;
        }
    }
    .equipe {
        &__avatars {
            img {
                width: 200px;
            }
        }
    }
}
