.three {
  background-image: url(../../assets/images/années2000/fond2000.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    font-size: xx-large;
  }

  .quiz__pays-dates {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    font-family: "PPRader";
    font-style: italic;
    font-size: $h2-mobile;
    padding: 0%;
    margin: 0%;
    margin-bottom: 5vh;
    color: rgba(240, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; /* Pour Chrome, Safari, etc. */
    /*  text-stroke-width: 1px;
    text-stroke-color: black; /* Pour Firefox */
  }

  .quiz__pays-dates h2 {
    margin: 0%;
  }

  .quiz__h2 {
    font-weight: lighter;
  }

  .quiz__counter--current {
    font-size: 100px;
    color: rgba(240, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; /* Pour Chrome, Safari, etc. */
    /* text-stroke-width: 1px;
      text-stroke-color: black; /* Pour Firefox */
  }

  .quiz__textes {
    margin-left: 10vw;
    margin-right: 10vw;
    height: max-content;
  }

  .quiz__button {
    height: max-content;
  }

  .quiz__contenu {
    background-color: rgba(158, 170, 227, 0.1);
    margin: 0 auto; /* Ajout de cette ligne pour centrer le bloc horizontalement */
    border-radius: 10px;
    font-size: $p-mobile;
    font-family: "Jura";
    line-height: 1.6;
    width: 70%;
    margin: auto;
    max-width: 120ch;
    padding: 16px 32px;
  }

  .quiz__counter {
    font-family: "SpaceAge";
    &--current {
      font-size: 36px;
    }
    &--total {
      font-size: 24px;
    }
  }

  .quiz__button--vrai {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #7fb9be;
    border-radius: 15px;
    padding: 30px 0px 25px 50px;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    font-family: "PPRader";
    text-transform: uppercase;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease,
      border-color 0.3s ease; // Ajout de la transition pour transform, background-color et border-color

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background-color: #9ea9e37a;
      background-image: url(../../assets/images/années2000/etoile2000.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      border-radius: 12px;
      padding: 5px;
    }

    &:hover {
      background-color: rgba(158, 170, 227, 0.5);
      border-color: rgba(158, 170, 227, 0.5);
    }
  }

  .quiz__button--faux {
    justify-content: center;
    background-color: transparent;
    border: 2px solid #7fb9be;
    border-radius: 15px;
    padding: 30px 0px 25px 60px;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    font-family: "PPRader";
    text-transform: uppercase;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease,
      border-color 0.3s ease; // Ajout de la transition pour transform, background-color et border-color

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background-color: #9ea9e37a;
      background-image: url(../../assets/images/années2000/etoile2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      border-radius: 12px;
      padding: 5px;
    }

    &:hover {
      background-color: rgba(158, 170, 227, 0.5);
      border-color: rgba(158, 170, 227, 0.5);
    }
  }

  .quiz__button--skip {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7fb9be;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Jura";
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &::after {
      content: "";
      width: 30px;
      height: 30px;
      margin-left: 10px;
      background-image: url(../../assets/images/années2000/fleche2000.svg);
      background-position: center;
      background-size: 90%;
      transition: filter 0.3s ease;
    }

    &:hover {
      background-color: #568185;
      color: white;

      &::after {
        filter: invert(100%);
      }
    }
  }

.quiz__button--quit {
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  padding: 8px 15px 10px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-family: "Jura";
  font-size: 16px;
  border: 2px solid #7fb9be;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #7fb9be;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #7fb9be;
    background-image: url("../../assets/images/années2000/etoile3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 15px;
    padding: 4px;
  }
}

@media screen and (min-width: 769px){
  .three {
      .quiz__contenu {
        padding: 16px 32px;
        margin-top: 54px;
      }
  }
}
  ///tablette

@media screen and (min-width: 1000px) {
  .quiz__pays-dates {
    font-size: $h2-tablet;
  }

  .quiz__counter {
    &--current {
      font-size: 45px;
    }
    &--total {
      font-size: 30px;
    }
  }
  .quiz__contenu {
    font-size: $p-tablet;
  }
  .quiz__pays-dates {
    font-size: $h2-tablet;
  }
}

///desktop
@media screen and (min-width: 1200px) {
  .quiz__pays-dates {
    font-size: $h2-desktop;
  }

  .quiz__counter {
    &--current {
      font-size: 54px;
    }
    &--total {
      font-size: 36px;
    }
  }
  .quiz__pays-dates {
    font-size: $h2-desktop;
  }
  .quiz__contenu {
    font-size: $p-desktop;
  }
}
@media screen and (min-width: 1400px) {
  .quiz__contenu::before {
    content: "";
    margin-left: 10vw;
    position: absolute;
    top: 40vh;
    left: -20px;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    background-image: url("../../assets/images/années2000/beforecontenu.png");
    background-size: 100%;
    background-position: center;
    z-index: -1;
  }
}
}
