.quiz {
    &__top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
    }

    &__container {
        height: 100vh;
        text-align: start;
        position: relative;
    }

    &__question {
        margin-bottom: 20px;
    }

    &__choix {
        display: flex;
        justify-content: center;
        gap: 3rem;
        position: absolute;
        bottom: 30vh;
        width: 100%;
    }

    &__button {
        //padding: 10px 20px;
        width: 144px;
        height: 47px;
        border: none;
        cursor: pointer;
    }
    &__feedback {
        margin-top: 5%;
    }
    &__textes {
        display: block;
        margin: auto;
        max-width: 800px;
        margin-top: 5%;
    }
    &__sortie {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 10vh;
        width: 100%;
    }
    &__pays-dates {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &--correct {
        background-image: image-set(
            url("../../assets/images/da/yes.png") 1x,
            url("../../assets/images/da/yes@2x.png") 2x
        );
    }

    &--wrong {
        background-image: image-set(
            url("../../assets/images/da/no.png") 1x,
            url("../../assets/images/da/no@2x.png") 2x
        );
    }

    &--correct,
    &--wrong {
        background-position: left center;
        background-repeat: no-repeat;
        vertical-align: middle;
        padding-left: 33px;
    }
}
