.recap {
    background-image: image-set(
        url(../assets/images/da/recapquiz.png) 1x,
        url(../assets/images/da/recapquiz@2x.png) 2x
    );
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;

    &__title {
        font-size: $h2-mobile;
        font-family: gruppo;
        text-align: center;
    }
}

@font-face {
    font-family: "satolight";
    src: url("../assets/font/satoshi/satoshi-Light.otf");
}
@font-face {
    font-family: "gruppo";
    src: url("../assets/font/Gruppo-Regular.ttf") format("truetype");
}

.good,
.legendes {
    width: 90%;
    max-width: 750px;
    margin: auto;

    &__h2 {
        font-family: gruppo;
        font-size: $h2-mobile;
        text-align: center;
    }
    li {
        margin-bottom: 33px;

        font-family: sato;
        font-size: $p-mobile;
        line-height: 1.6;
    }

    &__content {
        background-color: rgba(173, 168, 233, 0.2);
        border: 1px solid #9486c4;
        border-radius: 15px;
        backdrop-filter: blur(15);
        padding: 16px;
        padding-bottom: 8px;

        height: 550px;
    }
}

.legendes {
    background-color: transparent;
    &__end {
        color: #3e2f60;
        background-color: rgb(210, 214, 214, 0.2);
        padding: 8px 16px;
        border: 1px solid #9486c4;
        border-radius: 25px;
        font-family: sato;
        display: flex;
        max-width: 100px;
        cursor: pointer;
        justify-content: flex-end;

        margin-bottom: 100px;

        &:hover {
            background-color: #3e2f60;
            border: 1px solid #9486c4;
            color: #e6efeb;
        }
    }
    &__end svg {
        fill: #3e2f60;
        align-items: center;
    }
    &__end:hover svg {
        fill: #e6efeb;
    }
}

@media (min-width: 481px) {
    .recap__title {
        font-size: $h2-tablet;
    }

    .good,
    .legendes {
        &__h2 {
            font-size: $h2-tablet;
        }
        li {
            font-size: $p-tablet;
        }
    }
}

@media (min-width: 769px) {
    .recap__title {
        font-size: $h2-desktop;
    }
    .good,
    .legendes {
        &__h2 {
            font-size: $h2-desktop;
        }
        li {
            font-size: $p-desktop;
        }
    }
}

@media (min-width: 1580px) {
    .recap__content {
        display: flex;
    }
    .good,
    .legendes {
        margin: auto;
    }
    .legendes {
        margin-bottom: 0px;
    }
}
