.recap {
    background-image: image-set(
      url(../assets/images/da/recapquiz.png) 1x,
      url(../assets/images/da/recapquiz@2x.png) 2x
    );
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    background-size: cover;

    &__title {
        font-size: 51px;
        font-family: gruppo;
        margin-left: 5%;
        text-align: center;
    }
}

@font-face {
    font-family: "satolight" ;
    src: url("../assets/font/satoshi/satoshi-Light.otf") ;
}
@font-face {
    font-family: "gruppo" ;
    src: url("../assets/font/Gruppo-Regular.ttf") format("truetype");
}

.good {
    height: 100vh;
    width: 80%;
    max-width: 750px;
    margin: auto 10%;
    &__h2 {
        font-family: gruppo;
        font-size: 34px;
    }
    &__el {
        list-style-image: url("../../assets/images/da/yes.png");
        margin-bottom: 33px;
        
        p {
            font-family: sato;
        }
    }
    &__content {
        background-color: rgba(173, 168, 233, 0.2);
        border: 1px solid #9486c4;
        border-radius: 15px;
        backdrop-filter: blur(15);
        padding: 33px;
        padding-bottom: 16px;
    }
}

.legendes {
    height: 100vh;
    width: 80%;
    max-width: 750px;
    margin: -111px 10% auto 10%;
    position: relative;
    &__h2 {
        font-family: gruppo;
        font-size: 34px;
    }
    &__el {
        list-style-image: url("../../assets/images/da/no.png");
        margin-bottom: 33px;
        
        p {
            font-family: sato;
        }
    }
    &__content {
        background-color: rgba(173, 168, 233, 0.2);
        border: 1px solid #9486c4;
        border-radius: 15px;
        backdrop-filter: blur(15);
        padding: 33px;
        padding-bottom: 16px;
        margin-bottom: 150px;
    }
    &__end {
        color: #3e2f60;
        background-color: rgb(210, 214, 214, 0.2);
        padding: 8px 16px;
        border: 1px solid #9486c4;
        border-radius: 25px;
        font-family: sato;
        display: flex;
        max-width: 100px;
        gap: 10px;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        right: 0px; 

        &:hover {
        background-color: #3E2F60;
        border: 1px solid #9486c4;
        color: #E6EFEB;
        }
    }
    &__end svg {        
        fill: #3e2f60;
        align-items: center;
    }
    &__end:hover svg {
        fill: #E6EFEB;
    }
}

@media (min-width: 481px) {
    .good{
        width: 70%;
        margin: auto 15%;
        margin-top: 111px;
    }
    .legendes{
        width: 70%;
        margin: auto 15% auto 15%;
    }
}