.recap {
    background-image: image-set(
      url(../assets/images/da/recapquiz.png) 1x,
      url(../assets/images/da/recapquiz@2x.png) 2x
    );
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;

    &__title {
        font-size: 51px;
        font-family: gruppo;
        text-align: center;
    }
}

@font-face {
    font-family: "satolight" ;
    src: url("../assets/font/satoshi/satoshi-Light.otf") ;
}
@font-face {
    font-family: "gruppo" ;
    src: url("../assets/font/Gruppo-Regular.ttf") format("truetype");
}

.good {
    height: 100vh;
    width: 90%;
    max-width: 750px;
    margin: auto 5%;
    &__h2 {
        font-family: gruppo;
        font-size: 34px;
    }
    &__el {
        list-style-image: url("../../assets/images/da/yes.png");
        margin-bottom: 33px;
        
        p {
            font-family: sato;
            font-size: 16px;
            line-height: 1.6;
        }
    }
    &__content {
        background-color: rgba(173, 168, 233, 0.2);
        border: 1px solid #9486c4;
        border-radius: 15px;
        backdrop-filter: blur(15);
        padding: 16px;
        padding-bottom: 8px;
    }
}

.legendes {
    height: 100vh;
    width: 90%;
    max-width: 750px;
    margin: 500px 5% 250px 5%;
    position: relative;
    background-color: transparent;
    padding-bottom: 150px;


    &__h2 {
        font-family: gruppo;
        font-size: 34px;
    }
    &__el {
        list-style-image: url("../../assets/images/da/no.png");
        margin-bottom: 33px;
        
        p {
            font-family: sato;
            font-size: 16px;
            line-height: 1.6;
        }
    }
    &__content {
        background-color: rgba(173, 168, 233, 0.2);
        border: 1px solid #9486c4;
        border-radius: 15px;
        backdrop-filter: blur(15);
        padding: 16px;
        padding-bottom: 8px;
        margin-bottom: 50px;
    }
    &__end {
        color: #3e2f60;
        background-color: rgb(210, 214, 214, 0.2);
        padding: 8px 16px;
        border: 1px solid #9486c4;
        border-radius: 25px;
        font-family: sato;
        display: flex;
        max-width: 100px;
        gap: 10px;
        cursor: pointer;
        position: absolute;
        right: 0;
        
        margin-bottom: 100px;

        &:hover {
        background-color: #3E2F60;
        border: 1px solid #9486c4;
        color: #E6EFEB;
        }
    }
    &__end svg {        
        fill: #3e2f60;
        align-items: center;
    }
    &__end:hover svg {
        fill: #E6EFEB;
    }
}


@media (min-width: 481px) {
    .legendes {
        margin-top: 100px;
        margin-bottom: 0%;
    }
}
@media (min-width: 769px) {
    .legendes {
        margin-top: 0px;
    }
}

@media (min-width: 1000px) {
    .recap__content {
        display: flex;

    }
    .good,
    .legendes {
        margin-top: 0%;
    }
    .legendes {
        margin-bottom: 0px;
    }
}