body {
    margin: 0;
    padding: 0;
}
ul,
li {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}
button {
    border: unset;
    font-family: unset;
    font-size: unset;
    background: unset;
}
