@font-face {
    font-family: "SpecialElite";
    src: url("../assets/fonts/texas/SpecialElite.ttf");
}
@font-face {
    font-family: "Gensco";
    src: url("../assets/fonts/gensco/GENSCO.otf");
}

.texas {
    padding: 17px 32px;
    overflow-x: hidden;
    position: relative;

    &__content {
        opacity: 1;
        z-index: 80;
        max-width: 100ch;
    }
    &__txt {
        font-family: "elite";
        font-size: $p-mobile;
        line-height: 1.6;
    }
    &__chiffre {
        font-size: 122px;
        line-height: 0%;
        margin-left: 80%;
        margin-top: -90vh;
    }
    &__title,
    &__h3 {
        font-family: "gensco";
        margin-top: 50px;
        z-index: 8;
    }
    &__title {
        font-size: $h2-mobile;
        margin-top: -7rem;
    }
    &__h3 {
        font-size: $h3-mobile;
    }
    &__img {
        margin-left: -33%;

        &--ville {
            margin-left: -33px;
            z-index: 5;
            // margin-top: -10px;
            position: absolute; // ajout
            bottom: 0%;
            width: 300px;
        }

        &--papier {
            width: 100vw;
        }
    }
}
.texaslowcow {
    font-style: italic;
}

@media (min-width: 481px) {
    .texas {
        position: relative;

        &__img {
            &--ville {
                position: absolute;
                margin-top: 10px;
                bottom: 0%;
                width: 400px;
                z-index: 80;
            }
        }
        &__content {
            max-width: 600px;
        }
        &__txt {
            font-size: $p-tablet;
        }
        &__h3 {
            font-size: $h3-tablet;
        }
        &__title {
            font-size: $h2-tablet;
            margin-top: -150px;
        }
        &__chiffre {
            font-size: 150px;
            line-height: 0%;
        }
    }
}
@media (min-width: 481px) {
    .texas {
        &__content {
            max-width: 600px;
        }
        &__txt {
            font-size: $p-desktop;
        }
        &__h3 {
            font-size: $h3-desktop;
        }
        &__title {
            font-size: $h2-desktop;
            margin-top: -150px;
        }
        &__chiffre {
            font-size: 150px;
            line-height: 0%;
        }
    }
}

// laisser de la place pour la time line à droite donc normal l'espace à droite
