// Fonts nécessaires
@font-face {
  font-family: "Livingstone";
  src: url("assets/fonts/Livingstone.ttf") format("truetype");
}

@font-face {
  font-family: "Ortica Angular";
  src: url("assets/fonts/OrticaAngular-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Prince Valiant";
  src: url("assets/fonts/Princevaliant.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');


@font-face {
  font-family: "Clash Display";
  src: url("assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi Italic";
  src: url("assets/fonts/Satoshi-VariableItalic.ttf") format("truetype");
}

@font-face {
  font-family: "pix";
  src: url("../assets/fonts/singapour/pixM8pt.ttf") format("truetype");
}
@font-face {
  font-family: "w9";
  src: url("../assets/fonts/singapour/W95FA.otf") format("opentype");
}