// importer font

@font-face {
    font-display: swap;
    font-family: "Pix";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/singapour/pixM8pt.ttf");
}
@font-face {
    font-display: swap;
    font-family: "W9";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/singapour/W95FA.otf");
}

@font-face {
    font-display: swap;
    font-family: "Elite";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/special-elite-v18-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Gensco";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/gensco/GENSCO.otf");
}

@font-face {
    font-display: swap;
    font-family: "Ortica";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/ortica/OrticaLinear-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Valiant";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/PrinceValiant.ttf");
}

@font-face {
    font-display: swap;
    font-family: "Livingstone";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/livingstone.regular.ttf");
}

@font-face {
    font-display: swap;
    font-family: "sato";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "satolight";
    font-style: normal;
    font-weight: 300;
    src: url("../../assets/font/Satoshi-Light.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "gruppo";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/gruppo-v21-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "BIZ UDMincho";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/font/biz-udmincho-v9-latin-regular.woff2") format("woff2");
}
