// importer fonts

@font-face {
    font-family: "Pix";
    src: url("../assets/font/fonts/singapour/pixM8pt.ttf");
}
@font-face {
    font-family: "W9";
    src: url("../assets/font/fonts/singapour/W95FA.otf");
}

@font-face {
    font-family: "Elite";
    src: url("../assets/font/fonts/texas/SpecialElite.ttf");
}
@font-face {
    font-family: "Gensco";
    src: url("../assets/font/fonts/fonts/gensco/GENSCO.otf");
}

@font-face {
    font-family: "Ortica";
    src: url("../assets/font/fonts/ortica/OrticaLinear-Regular.woff2");
}

@font-face {
    font-family: "Valiant";
    src: url("../assets/font/fonts/PrinceValiant.ttf");
}

@font-face {
    font-family: "Livingstone";
    src: url("../assets/font/fonts/livingstone.regular.ttf");
}
// Fonts nécessaires
@font-face {
    font-family: "Livingstone";
    src: url("../assets/font/fonts/Livingstone.ttf");
  }
  
  @font-face {
    font-family: "Ortica Angular";
    src: url("../assets/font/fonts/OrticaAngular-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Prince Valiant";
    src: url("../assets/font/fonts/Princevaliant.ttf");
  }
  
  @import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');
  
  
  @font-face {
    font-family: "Clash Display";
    src: url("../assets/font/fonts/ClashDisplay-Variable.ttf");
  }
  
  @font-face {
    font-family: "Satoshi";
    src: url("../assets/font/fonts/Satoshi-Variable.ttf");
  }
  
  @font-face {
    font-family: "Satoshi Italic";
    src: url("../assets/font/fonts/Satoshi-VariableItalic.ttf");
  }