@charset "UTF-8";
@font-face {
  font-family: "Pix";
  src: url("../assets/fonts/singapour/pixM8pt.ttf");
}
@font-face {
  font-family: "W9";
  src: url("../assets/fonts/singapour/W95FA.otf");
}
@font-face {
  font-family: "Elite";
  src: url("../assets/fonts/texas/SpecialElite.ttf");
}
@font-face {
  font-family: "Gensco";
  src: url("../assets/fonts/gensco/GENSCO.otf");
}
@font-face {
  font-family: "Ortica";
  src: url("../assets/fonts/ortica/OrticaLinear-Regular.woff2");
}
@font-face {
  font-family: "Valiant";
  src: url("../assets/fonts/PrinceValiant.ttf");
}
@font-face {
  font-family: "Livingstone";
  src: url("../../assets/fonts/Livingstone.ttf") format("truetype");
}
@font-face {
  font-family: "ppgochat";
  src: url("../assets/font/PPGoshaSans-Regular.otf");
}
@font-face {
  font-family: "PPRader";
  src: url("../../assets/font/pprader/PPRader-Regular.otf");
}
@font-face {
  font-family: "Jura";
  src: url("../../assets/font/jura/Jura-VariableFont_wght.ttf");
}
@font-face {
  font-family: "SpaceAge";
  src: url("../../assets/font/spaceage/spaceage.ttf");
}
@font-face {
  font-family: "Ortica Angular";
  src: url("assets/fonts/OrticaAngular-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Prince Valiant";
  src: url("assets/fonts/Princevaliant.ttf") format("truetype");
}
@font-face {
  font-family: "Clash Display";
  src: url("assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi-Variable";
  src: url("../assets/fonts/Satoshi-Variable.woff2") format("woff2"), url("../assets/fonts/Satoshi-Variable.woff") format("woff"), url("../assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../assets/fonts/ClashDisplay-Variable.woff") format("woff"), url("../assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "gruppo";
  src: url("../assets/font/Gruppo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "sato";
  src: url("../assets/font/satoshi/satoshi-Regular.otf");
}
@font-face {
  font-family: "clash";
  src: url("../assets/fonts/clash/ClashDisplay-Regular.otf");
}
body {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: unset;
  font-family: unset;
  font-size: unset;
  background: unset;
}

.glass {
  background-color: rgba(173, 168, 233, 0.5);
  width: 80%;
  border: 1px solid #9486c4;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  justify-content: center;
  padding: 16px 33px;
  margin: 0% auto;
  z-index: 8;
  align-items: center;
  max-width: 450px;
  margin-top: 54px;
}

.quiz__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.quiz__container {
  height: 100vh;
  text-align: start;
  position: relative;
}
.quiz__question {
  margin-bottom: 20px;
}
.quiz__choix {
  display: flex;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  bottom: 30vh;
  width: 100%;
}
.quiz__button {
  width: 144px;
  height: 47px;
  border: none;
  cursor: pointer;
}
.quiz__feedback {
  margin-top: 5%;
}
.quiz__textes {
  display: block;
  margin: auto;
  max-width: 800px;
  margin-top: 5%;
}
.quiz__sortie {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10vh;
  width: 100%;
}
.quiz__pays-dates {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.quiz--correct {
  background-image: -webkit-image-set(url("../../assets/images/da/yes.png") 1x, url("../../assets/images/da/yes@2x.png") 2x);
  background-image: image-set(url("../../assets/images/da/yes.png") 1x, url("../../assets/images/da/yes@2x.png") 2x);
}
.quiz--wrong {
  background-image: -webkit-image-set(url("../../assets/images/da/no.png") 1x, url("../../assets/images/da/no@2x.png") 2x);
  background-image: image-set(url("../../assets/images/da/no.png") 1x, url("../../assets/images/da/no@2x.png") 2x);
}
.quiz--correct, .quiz--wrong {
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 33px;
}

/* ---------- TIMELINE ---------- */
.timeline {
  margin: 100px;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.timeline__1, .timeline__2, .timeline__3, .timeline__4, .timeline__5 {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  height: 100vh;
  width: 90vw;
}
.timeline__1 {
  display: flex;
  align-items: center;
  position: relative;
  background-image: -webkit-image-set(url(../assets/images/background_2.jpg) 1x, url(../assets/images/background_2@2x.png) 2x);
  background-image: image-set(url(../assets/images/background_2.jpg) 1x, url(../assets/images/background_2@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.timeline__3 {
  background-color: #008081;
}
.timeline__4 {
  background-image: -webkit-image-set(url(../assets/images/y2k/bgy2k.jpg) 1x, url(../assets/images/y2k/bgy2k@2x.jpg) 2x);
  background-image: image-set(url(../assets/images/y2k/bgy2k.jpg) 1x, url(../assets/images/y2k/bgy2k@2x.jpg) 2x);
}
.timeline__5 {
  display: flex;
  align-items: center;
  background-image: url(../assets/images/background_5.svg);
  position: relative;
}
.timeline__5 svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-90px, -100px);
  width: 200px;
}

.ville {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.law-1 {
  z-index: 2;
  margin: 96px;
  display: flex;
}
.law-1__nbr {
  display: flex;
  justify-content: center;
  font-family: "SpecialElite";
}
.law-1__h2, .law-1__h3 {
  font-family: "Gensco";
}
.law-1__p {
  font-family: "SpecialElite";
  z-index: 99999;
}

.bg-5 {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(68, 67, 67, 0.4392156863);
  border: 2px solid #888888;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.law-5__nbr {
  display: flex;
  justify-content: center;
  font-family: "Satoshi-Variable";
  font-weight: 800;
  background: linear-gradient(90deg, rgb(194, 160, 250) 0%, rgb(115, 143, 243) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.law-5__h2 {
  font-family: "ClashDisplay-Variable";
  margin-top: 24px;
  margin-bottom: 24px;
  background: linear-gradient(90deg, rgb(194, 160, 250) 0%, rgb(115, 143, 243) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.law-5__h3 {
  font-family: "ClashDisplay-Variable";
  margin-top: 16px;
  margin-bottom: 16px;
  background: linear-gradient(90deg, rgb(194, 160, 250) 0%, rgb(115, 143, 243) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.law-5__p {
  font-family: "Satoshi-Variable";
  line-height: 140%;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .timeline {
    margin: 0;
  }
  .bg-5 {
    padding: 32px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .law-5__nbr,
  .law-1__nbr {
    font-size: 182px;
  }
  .law-5__h2,
  .law-1__h2 {
    font-size: 36px;
  }
  .law-5__h3,
  .law-1__h3 {
    font-size: 24px;
  }
  .law-5__p,
  .law-1__p {
    font-size: 16px;
  }
  .law-1 {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .timeline {
    margin: 0;
  }
  .timeline__5 svg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-90px, 765px);
    width: 200px;
    height: auto;
  }
  .law-5__nbr,
  .law-1__nbr {
    align-items: center;
    font-size: 273px;
  }
  .law-5__h2,
  .law-1__h2 {
    font-size: 36px;
  }
  .law-5__h3,
  .law-1__h3 {
    font-size: 24px;
  }
  .law-5__p,
  .law-1__p {
    font-size: 16px;
  }
  .law-1 {
    flex-direction: column;
  }
  .bg-5 {
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .timeline__5 svg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-90px, 765px);
    width: 200px;
    height: auto;
  }
  .law-5__nbr,
  .law-1__nbr {
    align-items: center;
    font-size: 273px;
  }
  .law-5__h2,
  .law-1__h2 {
    font-size: 36px;
  }
  .law-5__h3,
  .law-1__h3 {
    font-size: 24px;
  }
  .law-5__p,
  .law-1__p {
    font-size: 16px;
  }
  .bg-5 {
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .law-1 {
    flex-direction: column;
  }
}
@media (min-width: 1025px) {
  .timeline__5 svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: auto;
  }
  .law-5,
  .law-1 {
    display: flex;
    gap: 68px;
  }
  .law-5__nbr,
  .law-1__nbr {
    align-items: center;
    font-size: 410px;
  }
  .law-5__h2,
  .law-1__h2 {
    font-size: 81px;
  }
  .law-5__h3,
  .law-1__h3 {
    font-size: 36px;
  }
  .law-5__p,
  .law-1__p {
    font-size: 24px;
  }
  .bg-5 {
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.timeline::-webkit-scrollbar {
  display: none;
}

.timeline {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.graphique {
  margin-top: -100px;
  padding-top: 100px;
  background-color: #e6efeb;
  font-family: "sato";
}
.graphique .title {
  text-align: center;
}
.graphique__txt {
  width: 90%;
  margin: auto 5%;
}
.graphique__lois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  padding: 5%;
  margin: 0%;
  height: 150px;
}
.graphique__boutons {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}
.graphique__boutons button {
  background-color: rgba(245, 245, 245, 0.356);
  color: #3e2f60;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #cdc7e3;
  border-radius: 10px;
}
.graphique__boutons button:hover {
  background-color: #795fb6;
  color: #f5f5f5;
}
.graphique__boutons button:active, .graphique__boutons button:focus {
  background-color: #3e2f60;
  color: #f5f5f5;
}

canvas {
  cursor: pointer;
}

@media screen and (min-width: 481px) {
  .graphique__lois, .graphique__boutons button, .graphique__txt {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .graphique__boutons {
    display: inline-block;
    justify-content: center;
  }
  .graphique__boutons button {
    margin: 5px;
  }
  .graphique__lois {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) {
  .graphique__container {
    max-height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .graphique__boutons button {
    margin: 5px;
  }
  .graphique__boutons__txt {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  .graphique__container {
    max-width: 800px;
    margin: auto;
  }
  .graphique__lois {
    max-width: 800px;
    margin: auto;
  }
  .graphique__txt {
    display: block;
    max-width: 800px;
    margin: auto;
  }
}
@font-face {
  font-family: "pix";
  src: url("../assets/fonts/singapour/pixM8pt.ttf");
}
@font-face {
  font-family: "w9";
  src: url("../assets/fonts/singapour/W95FA.otf");
}
@font-face {
  font-family: "MS-Sans-Serif-8pt-Bold";
  src: url("../../assets/fonts/MS-Sans-Serif-8pt-bold.ttf");
}
.singapour {
  position: relative;
}
.singapour__label {
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.singapour__modal {
  position: absolute;
  background-color: #fafafa;
  z-index: 5;
  border: 5px solid #c0c0c0;
  bottom: 20%;
}
.singapour__modalPaint {
  position: absolute;
  background-color: #fafafa;
  z-index: 5;
  border: 5px solid #c0c0c0;
  bottom: 20%;
  height: 500px;
}
.singapour__modalPaint .singapour__content {
  margin: 0%;
}
.singapour__navbar {
  display: flex;
  background-color: #000080;
  padding: 3px;
  height: 25px;
  border-bottom: 5px solid #c0c0c0;
  position: relative;
}
.singapour__txt {
  font-family: "w9";
}
.singapour__txt--bottom {
  padding-bottom: 24px;
}
.singapour__txt--nav {
  font-family: "w9";
  font-size: 20px;
  color: #fafafa;
  line-height: 0%;
  margin-top: 12px;
}
.singapour_notepad {
  margin-top: 0px;
}
.singapour__icons {
  width: 80px;
  display: flex;
  justify-content: end;
  position: absolute;
  right: 5px;
}
.singapour__icon {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
.singapour__content {
  max-width: 94%;
  margin: auto 3%;
}
.singapour__title {
  font-family: "MS-Sans-Serif-8pt-Bold";
  font-size: 36px;
  margin-top: 54px;
  margin-bottom: 33px;
}
.singapour__h3 {
  font-size: 24px;
  margin-top: 54px;
  font-family: "MS-Sans-Serif-8pt-Bold";
  line-height: 1.2;
}
.singapour__folder {
  position: absolute;
  bottom: 200px;
  left: 40%;
}
.singapour__grab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: -1;
  padding: 5px;
  border: none;
  background-color: transparent;
}
.singapour__bin {
  position: absolute;
  bottom: 200px;
  left: 10%;
}
.singapour__paint {
  position: absolute;
  bottom: 200px;
  right: 15%;
}
.singapour__datalaws {
  position: absolute;
  bottom: 200px;
  right: 30%;
}
.singapour__datalaws img {
  height: 64px;
  width: auto;
}
.singapour__icon--close {
  border: none;
  background-color: transparent;
  background: none;
  z-index: 9860;
  cursor: pointer;
}
.singapour__icon--close:active {
  filter: brightness(0.5);
}
.singapour .reduced {
  display: none;
}

.icon-name {
  font-family: "w9";
  color: white;
}

#canvasPaint {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #000;
  cursor: crosshair;
}
#canvasPaint.erasing {
  cursor: url("/eraser.png"), auto;
}

#controls {
  text-align: center;
  margin-top: 10px;
}
#controls input[type=color] {
  margin-right: 10px;
}

@media (min-width: 481px) {
  .singapour__modal {
    max-width: 80%;
    justify-content: center;
  }
}
@media (min-width: 560px) {
  .singapour__grab {
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .singapour__h3 {
    font-size: 30px;
  }
  .singapour__title {
    font-size: 45px;
  }
  .singapour__txt {
    font-size: 20px;
  }
  .singapour__modal {
    max-width: 60%;
  }
}
@media (min-width: 1025px) {
  .singapour__h3 {
    font-size: 36px;
  }
  .singapour__title {
    font-size: 81px;
  }
  .singapour__txt {
    font-size: 24px;
  }
  .singapour__modal {
    max-width: 80%;
  }
  .singapour__folder, .singapour__bin, .singapour__paint, .singapour__datalaws {
    bottom: 50px;
  }
}
@font-face {
  font-family: "radar";
  src: url("../assets/fonts/PPRader-Italic.otf");
}
@font-face {
  font-family: "jura";
  src: url("../assets/fonts/Jura-Regular.ttf");
}
.y2k {
  background-image: -webkit-image-set(url(../assets/images/y2k/bgy2k.jpg) 1x, url(../assets/images/y2k/bgy2k@2x.jpg) 2x);
  background-image: image-set(url(../assets/images/y2k/bgy2k.jpg) 1x, url(../assets/images/y2k/bgy2k@2x.jpg) 2x);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.y2k__content {
  padding: 33px;
  z-index: 5;
}
.y2k__bstars {
  width: 90px;
  position: absolute;
  top: 5%;
  left: 15%;
}
.y2k__chiffre {
  font-size: 182px;
  line-height: 0%;
  font-family: radar;
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  top: -100px;
  left: 60%;
  font-style: italic;
}
.y2k__title {
  font-size: 36px;
  font-family: radar;
  margin-top: 150px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
}
.y2k__txt {
  font-size: 16px;
  font-family: jura;
  margin-top: 0%;
}
.y2k__h3 {
  font-size: 24px;
  font-family: jura;
  margin-top: 4rem;
}
.y2k__bottomstars {
  width: 175px;
  position: absolute;
  bottom: 5%;
  left: 45%;
  z-index: 1;
}
.y2k__lotstars {
  display: none;
  z-index: 1;
}

@media (min-width: 481px) {
  .y2k__bottomstars {
    width: 200px;
    bottom: 10%;
    left: 45%;
  }
  .y2k__content {
    max-width: 550px;
  }
  .y2k__chiffre {
    left: 50%;
  }
}
@media (min-width: 769px) {
  .y2k__title {
    font-size: 36px;
  }
  .y2k__txt {
    font-size: 20px;
  }
  .y2k__h3 {
    font-size: 30px;
  }
  .y2k__lotstars {
    display: block;
    width: 250px;
    position: absolute;
    bottom: 5%;
    left: 45%;
  }
  .y2k__bottomstars {
    display: none;
  }
}
@media (min-width: 880px) {
  .y2k__textes {
    padding: 33px;
    background-color: rgba(158, 170, 227, 0.1);
    border-radius: 25px;
    margin-left: 30%;
    width: 100%;
  }
  .y2k__title {
    margin-left: 30%;
    font-size: 81px;
    margin-top: 33px;
  }
  .y2k__chiffre {
    top: 30%;
    left: 5%;
  }
  .y2k__bstars {
    left: 80%;
  }
  .y2k__lotstars {
    width: 200px;
    left: 70%;
  }
}
@media (min-width: 1025px) {
  .y2k__title {
    font-size: 81px;
  }
  .y2k__txt {
    font-size: 24px;
  }
  .y2k__h3 {
    font-size: 36px;
    margin-bottom: 0%;
  }
  .y2k__content {
    max-width: 70%;
  }
  .y2k__textes {
    margin-left: 20%;
  }
}
@font-face {
  font-family: "SpecialElite";
  src: url("../assets/fonts/texas/SpecialElite.ttf");
}
@font-face {
  font-family: "Gensco";
  src: url("../assets/fonts/gensco/GENSCO.otf");
}
.texas {
  padding: 17px 32px;
  overflow-x: hidden;
  position: relative;
}
.texas__content {
  opacity: 1;
  z-index: 80;
}
.texas__txt {
  font-family: "elite";
  font-size: 16px;
  line-height: 1.6;
}
.texas__chiffre {
  font-size: 122px;
  line-height: 0%;
  margin-left: 80%;
  margin-top: -90vh;
}
.texas__title, .texas__h3 {
  font-family: "gensco";
  margin-top: 50px;
  z-index: 8;
}
.texas__title {
  font-size: 36px;
  margin-top: -7rem;
}
.texas__h3 {
  font-size: 24px;
}
.texas__img {
  margin-left: -33%;
}
.texas__img--ville {
  margin-left: -33px;
  z-index: 5;
  position: absolute;
  bottom: 0%;
  width: 300px;
}
.texas__img--papier {
  width: 100vw;
}

@media (min-width: 481px) {
  .texas {
    position: relative;
  }
  .texas__img--ville {
    position: absolute;
    margin-top: 10px;
    bottom: 0%;
    width: 400px;
    z-index: 80;
  }
  .texas__content {
    max-width: 600px;
  }
  .texas__txt {
    font-size: 20px;
  }
  .texas__h3 {
    font-size: 30px;
  }
  .texas__title {
    font-size: 45px;
    margin-top: -150px;
  }
  .texas__chiffre {
    font-size: 150px;
    line-height: 0%;
  }
}
@media (min-width: 481px) {
  .texas__content {
    max-width: 600px;
  }
  .texas__txt {
    font-size: 24px;
  }
  .texas__h3 {
    font-size: 36px;
  }
  .texas__title {
    font-size: 81px;
    margin-top: -150px;
  }
  .texas__chiffre {
    font-size: 150px;
    line-height: 0%;
  }
}
.logo__container {
  display: inline-flex;
  flex-direction: column;
  font-size: 24px;
  margin-left: 1rem;
  margin-top: 1rem;
}
.logo__text {
  display: inline-block;
  font-family: "ClashDisplay-Variable", sans-serif;
  font-weight: 400;
  line-height: 100%;
  transition: font-family 0.5s ease;
}

.satoshi {
  font-family: "Satoshi-Variable", sans-serif;
}

.w9 {
  font-family: "W9";
}

.pix {
  font-family: "Pix";
}

.gensco {
  font-family: "Gensco";
}

.ortica {
  font-family: "Ortica";
}

.valiant {
  font-family: "Valiant";
}

.livingstone {
  font-family: "Livingstone";
}

.elite {
  font-family: "Elite";
}

body {
  margin: 0;
  background-color: #e6efeb;
}

html {
  scroll-behavior: smooth;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

a,
button {
  transition: 0.3s ease;
}

.timeline::-webkit-scrollbar {
  display: none;
}

.timeline {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* ------ EXTRA ------ */
.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
}
.nav .sticky {
  position: fixed;
  top: 0;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  z-index: 800;
}
.nav__ul {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  padding: 0%;
  list-style: none;
}
.nav__el {
  list-style: none;
  color: #333333;
  font-family: clash;
  margin: 0 16px;
  cursor: pointer;
}
.nav__el:hover {
  border-bottom: 1px solid #333333;
  transition: 0.3s ease-out;
}

.main {
  background-image: -webkit-image-set(url(../assets/images/da/bg-main.png) 1x, url(../assets/images/da/bg-main@2x.png) 2x);
  background-image: image-set(url(../assets/images/da/bg-main.png) 1x, url(../assets/images/da/bg-main@2x.png) 2x);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  padding: auto 16px;
  padding-bottom: 100px;
}
.main__content {
  z-index: 5;
  position: absolute;
  top: 5%;
  width: 90%;
  margin: auto 5%;
  justify-content: center;
  background-color: transparent;
  font-weight: bold;
}
.main__title {
  font-size: 60px;
  text-align: center;
  font-family: clash;
  color: #333333;
  font-weight: lighter;
}
.main__txt {
  font-size: 20px;
  text-align: left;
  font-family: sato;
  line-height: 1.6;
  margin: auto;
  color: #333333;
  margin-top: 350px;
  justify-content: center;
}
.main #canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
}

.introquiz {
  background-image: -webkit-image-set(url(../assets/images/da/bg-main.png) 1x, url(../assets/images/da/bg-main@2x.png) 2x);
  background-image: image-set(url(../assets/images/da/bg-main.png) 1x, url(../assets/images/da/bg-main@2x.png) 2x);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  padding: auto 16px;
  font-family: clash;
}
.introquiz__h2 {
  font-size: 36px;
  font-family: clash;
  margin-top: 0px;
  text-align: center;
  padding-top: 54px;
  color: #333333;
}
.introquiz__glass {
  background-color: rgba(189, 185, 238, 0.5);
  width: 80%;
  border: 1px solid #9486c4;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  justify-content: center;
  padding: 16px 33px;
  margin: 0% auto;
  z-index: 8;
  align-items: center;
  max-width: 450px;
  margin-top: 54px;
}
.introquiz__glass p {
  font-family: sato;
  color: #333333;
  font-size: 16px;
  line-height: 1.6;
}
.introquiz__btn {
  display: flex;
  font-size: 16px;
  background-color: rgba(189, 185, 238, 0.5);
  -webkit-backdrop-filter: blur(5);
          backdrop-filter: blur(5);
  border: 2px solid #9486c4;
  border-radius: 15px;
  margin: 74px auto auto auto;
  justify-content: center;
  color: black;
  padding: 10px;
  font-weight: lighter;
  cursor: pointer;
  font-family: sato;
  width: 220px;
  text-decoration: none;
  color: #333333;
}
.introquiz__btn:hover {
  background-color: rgba(148, 134, 196, 0.5);
  -webkit-backdrop-filter: blur(5);
          backdrop-filter: blur(5);
  border: 2px solid #d7d4ff;
  color: #e6efeb;
}

.footer {
  background-color: #aca0d6;
  text-align: center;
  padding: 16px;
  padding-top: 8px;
  z-index: 7;
}
.footer__ul {
  list-style: none;
  padding: 0%;
}
.footer__el {
  font-family: clash;
  font-size: 16px;
  line-height: 1.6;
}
.footer__el a {
  color: #333333;
  font-size: 20px;
}
.footer__el a:hover {
  color: #e6efeb;
}
.footer small {
  font-family: clash;
  font-size: 16px;
}

a {
  text-decoration: none;
  list-style: none;
}

@media (min-width: 481px) {
  .main__content {
    width: 100%;
    margin: 0%;
    justify-content: center;
  }
  .main__title {
    font-size: 85px;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .main__txt {
    max-width: 450px;
    width: 100%;
    margin: 300px 5% auto 5%;
    font-size: 20px;
  }
  .introquiz__glass p {
    font-size: 20px;
  }
  .introquiz__h2 {
    font-size: 45px;
  }
  .introquiz__btn {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .main__title {
    font-size: 108px;
  }
  .main__txt {
    font-size: 24px;
    max-width: 500px;
  }
  .main__content {
    width: 80%;
    margin: auto 10%;
  }
  .nav__el {
    font-size: 24px;
  }
  .introquiz__h2 {
    font-size: 45px;
  }
  .introquiz__glass p {
    font-size: 24px;
  }
  .introquiz__btn {
    font-size: 24px;
  }
}
@media (min-width: 1225px) {
  .main__txt {
    justify-content: center;
    background: none;
    border: none;
    color: #e6efeb;
    max-width: 450px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 250px;
  }
  .main__title {
    font-size: 230px;
    line-height: 0%;
    width: 100%;
  }
  .introquiz {
    padding-top: 111px;
  }
}
@media (min-width: 1500px) {
  .main__title {
    font-size: 275px;
  }
}
@media (min-width: 2000px) {
  .main__title {
    font-size: 500px;
    width: 100%;
  }
  .main__content {
    width: 100%;
  }
}
::-moz-selection {
  background-color: #aca0d6;
}
::selection {
  background-color: #aca0d6;
}

.finquiz {
  position: relative;
  padding: auto 16px;
  font-family: gruppo;
  font-size: 16px;
}
.finquiz__h2 {
  font-size: 36px;
  font-family: gruppo;
  margin-top: 0px;
  text-align: center;
  padding-top: 54px;
  color: #333333;
}
.finquiz__glass {
  background-color: rgba(173, 168, 233, 0.5);
  width: 80%;
  border: 1px solid #9486c4;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(15);
          backdrop-filter: blur(15);
  justify-content: center;
  padding: 16px 33px;
  margin: 0% auto;
  z-index: 8;
  align-items: center;
  max-width: 450px;
  margin-bottom: 54px;
}
.finquiz__glass p {
  font-family: sato;
  font-size: 16px;
  line-height: 1.6;
}
.finquiz__btn {
  display: flex;
  width: 60%;
  margin: auto 20%;
  justify-content: center;
}
.finquiz__btn--1, .finquiz__btn--2 {
  display: flex;
  font-size: 16px;
  background-color: rgba(173, 168, 233, 0.5);
  -webkit-backdrop-filter: blur(5);
          backdrop-filter: blur(5);
  border: 2px solid #9486c4;
  border-radius: 15px;
  margin: 74px auto auto auto;
  padding: 10px;
  font-weight: lighter;
  cursor: pointer;
  font-family: sato;
}
.finquiz__btn--1 a, .finquiz__btn--2 a {
  text-decoration: none;
  color: #333333;
}
.finquiz__btn--1:hover, .finquiz__btn--2:hover {
  background-color: rgba(148, 134, 196, 0.5);
  -webkit-backdrop-filter: blur(5);
          backdrop-filter: blur(5);
  border: 2px solid #d7d4ff;
  color: #e6efeb;
}
.finquiz__btn--1:hover a, .finquiz__btn--2:hover a {
  color: #e6efeb;
}

@media (min-width: 481px) {
  .finquiz {
    font-size: 20px;
  }
  .finquiz__h2 {
    font-size: 45px;
  }
  .finquiz__glass p {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .finquiz {
    font-size: 24px;
  }
  .finquiz__h2 {
    font-size: 81px;
  }
  .finquiz__glass p {
    font-size: 24px;
  }
}
@media (min-width: 1225px) {
  .finquiz {
    padding-top: 111px;
  }
}
.recap {
  background-image: -webkit-image-set(url(../assets/images/da/recapquiz.png) 1x, url(../assets/images/da/recapquiz@2x.png) 2x);
  background-image: image-set(url(../assets/images/da/recapquiz.png) 1x, url(../assets/images/da/recapquiz@2x.png) 2x);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  background-size: cover;
  overflow-x: hidden;
}
.recap__title {
  font-size: 36px;
  font-family: gruppo;
  text-align: center;
}

@font-face {
  font-family: "satolight";
  src: url("../assets/font/satoshi/satoshi-Light.otf");
}
@font-face {
  font-family: "gruppo";
  src: url("../assets/font/Gruppo-Regular.ttf") format("truetype");
}
.good,
.legendes {
  width: 90%;
  max-width: 750px;
  margin: auto;
}
.good__h2,
.legendes__h2 {
  font-family: gruppo;
  font-size: 36px;
  text-align: center;
}
.good li,
.legendes li {
  margin-bottom: 33px;
  font-family: sato;
  font-size: 16px;
  line-height: 1.6;
}
.good__content,
.legendes__content {
  background-color: rgba(173, 168, 233, 0.2);
  border: 1px solid #9486c4;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(15);
          backdrop-filter: blur(15);
  padding: 16px;
  padding-bottom: 8px;
}

.legendes {
  background-color: transparent;
}
.legendes__content {
  margin-bottom: 50px;
}
.legendes__end {
  color: #3e2f60;
  background-color: rgba(210, 214, 214, 0.2);
  padding: 8px 16px;
  border: 1px solid #9486c4;
  border-radius: 25px;
  font-family: sato;
  display: flex;
  max-width: 100px;
  cursor: pointer;
  justify-content: flex-end;
  margin-bottom: 100px;
}
.legendes__end:hover {
  background-color: #3e2f60;
  border: 1px solid #9486c4;
  color: #e6efeb;
}
.legendes__end svg {
  fill: #3e2f60;
  align-items: center;
}
.legendes__end:hover svg {
  fill: #e6efeb;
}

@media (min-width: 481px) {
  .recap__title {
    font-size: 45px;
  }
  .good__h2,
  .legendes__h2 {
    font-size: 45px;
  }
  .good li,
  .legendes li {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .recap__title {
    font-size: 81px;
  }
  .good__h2,
  .legendes__h2 {
    font-size: 81px;
  }
  .good li,
  .legendes li {
    font-size: 24px;
  }
}
@media (min-width: 1580px) {
  .recap__content {
    display: flex;
  }
  .good,
  .legendes {
    margin: auto;
  }
  .legendes {
    margin-bottom: 0px;
  }
}
.two {
  background-image: -webkit-image-set(url(../../assets/images/bg-quiz-one.png) 1x, url(../../assets/images/bg-quiz-one@2x.png) 2x);
  background-image: image-set(url(../../assets/images/bg-quiz-one.png) 1x, url(../../assets/images/bg-quiz-one@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.two .quiz__h2 {
  font-family: Gensco;
  font-size: 36px;
  margin-left: 5%;
}
.two .quiz__counter--current {
  color: #665330;
}
.two .quiz__date {
  font-family: Gensco;
  margin-right: 5%;
  font-size: 36px;
}
.two .quiz__contenu {
  font-family: Gensco;
  font-size: 16px;
  border: 2px solid black;
  padding: 8px;
  max-width: 90%;
  margin: auto 5%;
  line-height: 1.6;
}
.two .quiz__textes {
  max-width: 500px;
}
.two .quiz__feedback {
  margin-top: 54px;
}
.two .quiz__counter {
  font-size: 16px;
  font-family: gensco;
}
.two .quiz__counter--current {
  font-size: 54px;
}
.two .quiz__counter--total {
  font-size: 36px;
}
.two .quiz__button {
  font-size: 16px;
  font-family: ppgochat;
  color: black;
  display: flex;
  border: 2px solid black;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.3s ease;
}
.two .quiz__button--vrai, .two .quiz__button--faux {
  text-transform: uppercase;
  color: #665330;
  padding: 10px 16px 10px 40px;
  position: relative;
  text-align: right;
}
.two .quiz__button--vrai::before, .two .quiz__button--faux::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px; /* Largeur de l'élément :before */
  height: 18px;
  border-right: 2px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
.two .quiz__button--vrai::before {
  background-image: url("../../assets/images/lys@2x.png");
  padding: 13px 22px 15px 5px;
  margin-left: -5px;
}
.two .quiz__button--faux::before {
  background-image: url("../../assets/images/epee@2x.png");
  margin-left: -6px;
  padding: 13px 15px 15px 5px;
}
.two .quiz__button--vrai:hover, .two .quiz__button--faux:hover {
  background-color: rgba(102, 83, 48, 0.7);
  color: white;
}
.two .quiz__button--skip::after {
  content: url("../../assets/images/nextquiiiz.png");
}
.two .quiz__button--quit::after {
  content: url("../../assets/images/quitquiz.png");
}
.two .quiz__button--skip::after, .two .quiz__button--quit::after {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}
.two .quiz__button--skip, .two .quiz__button--quit {
  border-color: #665330;
}
.two .quiz__button--skip:hover, .two .quiz__button--quit:hover {
  background-color: #665330;
  color: white;
}
.two .quiz__button--skip:hover::after, .two .quiz__button--quit:hover::after {
  filter: invert(100%);
}
.two .logo {
  font-family: ppgochat;
}

@media (min-width: 481px) {
  .two .quiz__h2 {
    font-size: 45px;
  }
  .two .quiz__contenu {
    font-size: 20px;
  }
  .two .quiz__counter {
    font-size: 30px;
  }
  .two .quiz__counter--current {
    font-size: 45px;
  }
  .two .quiz__counter--total {
    font-size: 30px;
  }
}
@media (min-width: 565px) {
  .two .quiz__feedback {
    margin-top: 36px;
  }
}
@media (min-width: 1000px) {
  .two .quiz__feedback {
    margin-top: 24px;
  }
  .two .quiz__h2 {
    font-size: 81px;
  }
  .two .quiz__contenu {
    font-size: 24px;
  }
  .two .quiz__counter {
    font-size: 36px;
  }
  .two .quiz__counter--current {
    font-size: 36px;
  }
  .two .quiz__counter--total {
    font-size: 24px;
  }
}
.three {
  background-image: url(../../assets/images/années2000/fond2000.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.three .logo {
  font-size: xx-large;
}
.three .quiz__pays-dates {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  font-family: "PPRader";
  font-style: italic;
  font-size: 36px;
  padding: 0%;
  margin: 0%;
  margin-bottom: 5vh;
  color: rgba(240, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; /* Pour Chrome, Safari, etc. */
  /*  text-stroke-width: 1px;
  text-stroke-color: black; /* Pour Firefox */
}
.three .quiz__pays-dates h2 {
  margin: 0%;
}
.three .quiz__h2 {
  font-weight: lighter;
}
.three .quiz__counter--current {
  font-size: 100px;
  color: rgba(240, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; /* Pour Chrome, Safari, etc. */
  /* text-stroke-width: 1px;
    text-stroke-color: black; /* Pour Firefox */
}
.three .quiz__textes {
  margin-left: 10vw;
  margin-right: 10vw;
  height: -moz-max-content;
  height: max-content;
}
.three .quiz__button {
  height: -moz-max-content;
  height: max-content;
}
.three .quiz__contenu {
  background-color: rgba(158, 170, 227, 0.1);
  margin: 0 auto; /* Ajout de cette ligne pour centrer le bloc horizontalement */
  padding-top: 1px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Jura";
  line-height: 150%;
  max-width: 800px;
}
.three .quiz__counter {
  font-family: "SpaceAge";
}
.three .quiz__counter--current {
  font-size: 36px;
}
.three .quiz__counter--total {
  font-size: 24px;
}
.three .quiz__button--vrai {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #7fb9be;
  border-radius: 15px;
  padding: 30px 0px 25px 50px;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  font-family: "PPRader";
  text-transform: uppercase;
  transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.3s ease;
}
.three .quiz__button--vrai:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(158, 169, 227, 0.4784313725);
  background-image: url(../../assets/images/années2000/etoile2000.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 12px;
  padding: 5px;
}
.three .quiz__button--vrai:hover {
  background-color: rgba(158, 170, 227, 0.5);
  border-color: rgba(158, 170, 227, 0.5);
}
.three .quiz__button--faux {
  background-color: transparent;
  border: 2px solid #7fb9be;
  border-radius: 15px;
  padding: 30px 0px 25px 60px;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  font-family: "PPRader";
  text-transform: uppercase;
  transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.3s ease;
}
.three .quiz__button--faux:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(158, 169, 227, 0.4784313725);
  background-image: url(../../assets/images/années2000/etoile2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 12px;
  padding: 5px;
}
.three .quiz__button--faux:hover {
  background-color: rgba(158, 170, 227, 0.5);
  border-color: rgba(158, 170, 227, 0.5);
}
.three .quiz__button--skip {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7fb9be;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Jura";
  transition: background-color 0.3s ease, color 0.3s ease;
}
.three .quiz__button--skip::after {
  content: "";
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-image: url(../../assets/images/années2000/fleche2000.svg);
  background-position: center;
  background-size: 90%;
  transition: filter 0.3s ease;
}
.three .quiz__button--skip:hover {
  background-color: #568185;
  color: white;
}
.three .quiz__button--skip:hover::after {
  filter: invert(100%);
}
.three .quiz__button--quit {
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  padding: 8px 15px 10px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  font-family: "Jura";
  font-size: 16px;
  border: 2px solid #7fb9be;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.three .quiz__button--quit:hover {
  background-color: #7fb9be;
}
.three .quiz__button--quit::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #7fb9be;
  background-image: url("../../assets/images/années2000/etoile3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 15px;
  padding: 4px;
}
@media screen and (min-width: 1000px) {
  .three .quiz__pays-dates {
    font-size: 45px;
  }
  .three .quiz__counter--current {
    font-size: 45px;
  }
  .three .quiz__counter--total {
    font-size: 30px;
  }
  .three .quiz__contenu {
    font-size: 20px;
  }
  .three .quiz__pays-dates {
    font-size: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .three .quiz__pays-dates {
    font-size: 81px;
  }
  .three .quiz__counter--current {
    font-size: 54px;
  }
  .three .quiz__counter--total {
    font-size: 36px;
  }
  .three .quiz__pays-dates {
    font-size: 81px;
  }
  .three .quiz__contenu {
    font-size: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .three .quiz__contenu::before {
    content: "";
    margin-left: 10vw;
    position: absolute;
    top: 40vh;
    left: -20px;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    background-image: url("../../assets/images/années2000/beforecontenu.png");
    background-size: 100%;
    background-position: center;
    z-index: -1;
  }
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../../assets/font/satoshi/Satoshi-Variable.woff2") format("woff2"), url("../../assets/font/satoshi/Satoshi-Variable.woff") format("woff"), url("../../assets/font/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../../assets/font/ClashDisplay-Variable.woff2") format("woff2"), url("../../assets/font/ClashDisplay-Variable.woff") format("woff"), url("../../assets/font/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
.four {
  background-image: url("../../assets/images/bg-glassmorphism.svg");
  background-size: cover;
  padding-left: 16px;
  padding-right: 16px;
}
.four .quiz__h2 {
  margin: 0;
}
.four .quiz__button {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  color: white;
}
.four .quiz__pays-dates {
  padding: 24px;
  flex-wrap: wrap;
  font-family: "ClashDisplay-Variable";
  background: linear-gradient(90deg, rgb(194, 160, 250) 0%, rgb(115, 143, 243) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.four .quiz__contenu {
  color: white;
  font-family: "Satoshi-Variable";
  background-color: rgba(68, 67, 67, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 2px solid #818181;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}
.four .quiz__question {
  margin: 0;
}
.four .quiz__button {
  padding: 0;
  border: 2px solid #905eec;
}
.four .quiz__button--vrai {
  font-family: "ClashDisplay-Variable";
  color: #333;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.four .quiz__button--vrai:before {
  content: "";
  width: 25px; /* Largeur de l'élément :before */
  height: 25px;
  background-image: url(../../assets/images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 12px;
}
.four .quiz__button--vrai:hover {
  transition: transform 0.4s ease, background-color 0.4s ease, border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.6);
}
.four .quiz__button--faux {
  font-family: "ClashDisplay-Variable";
  color: #333;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.four .quiz__button--faux:before {
  content: "";
  width: 20px; /* Largeur de l'élément :before */
  height: 20px;
  background-image: url(../../assets/images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 12px;
}
.four .quiz__button--faux:hover {
  transition: transform 0.4s ease, background-color 0.4s ease, border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.6);
}
.four .quiz__button--quit {
  font-family: "Satoshi-Variable";
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.four .quiz__button--quit::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/quit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
.four .quiz__button--quit:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/quit-hover.svg);
}
.four .quiz__button--quit:hover {
  transition: transform 0.4s ease, background-color 0.4s ease, border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
.four .quiz__button--quit:hover::after {
  filter: invert(100%);
}
.four .quiz__button--skip {
  font-family: "Satoshi-Variable";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.four .quiz__button--skip::after {
  content: "";
  width: 20px; /* Largeur de l'élément :before */
  height: 20px;
  background-image: url(../../assets/images/next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 12px;
}
.four .quiz__button--skip:hover {
  transition: transform 0.4s ease, background-color 0.4s ease, border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
.four .quiz__button--skip:hover::after {
  filter: invert(100%);
}
.four .quiz__counter {
  font-family: "ClashDisplay-Variable";
}
.four .quiz__counter--current {
  color: rgb(115, 143, 243);
}
.four .quiz__counter--total {
  color: #333;
}
@media (min-width: 320px) and (max-width: 480px) {
  .four .quiz__contenu {
    padding: 16px;
    font-size: 16px;
  }
  .four .quiz__h2 {
    font-size: 36px;
  }
  .four .quiz__date {
    font-size: 36px;
  }
  .four .quiz__counter--current {
    font-size: 36px;
  }
  .four .quiz__counter--total {
    font-size: 24px;
  }
  .four .quiz__button {
    height: 56px;
    width: 120px;
    font-size: 16px;
  }
  .four .quiz__button--quit, .four .quiz__button--skip {
    height: 40px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .four .quiz__contenu {
    padding: 20px;
    font-size: 20px;
  }
  .four .quiz__h2 {
    font-size: 45px;
  }
  .four .quiz__date {
    font-size: 45px;
  }
  .four .quiz__counter--current {
    font-size: 45px;
  }
  .four .quiz__counter--total {
    font-size: 30px;
  }
  .four .quiz__button {
    height: 72px;
    width: 160px;
    font-size: 20px;
  }
  .four .quiz__button--quit, .four .quiz__button--skip {
    height: 56px;
  }
}
@media (min-width: 769px) {
  .four .four {
    background-size: contain;
  }
  .four .quiz__contenu {
    padding: 20px;
    padding: 20px;
    font-size: 24px;
  }
  .four .quiz__h2 {
    font-size: 81px;
  }
  .four .quiz__date {
    font-size: 81px;
  }
  .four .quiz__textes {
    max-width: 1000px;
  }
  .four .quiz__counter--current {
    font-size: 54px;
  }
  .four .quiz__counter--total {
    font-size: 36px;
  }
  .four .quiz__button {
    height: 72px;
    width: 160px;
    font-size: 20px;
  }
  .four .quiz__button--quit, .four .quiz__button--skip {
    height: 56px;
  }
}

@font-face {
  font-family: "sato";
  src: url("../assets/font/satoshi/satoshi-Regular.otf");
}
.nav-credits {
  display: flex;
  width: 100%;
  background-color: transparent;
}
.nav-credits__ul {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  padding: 0%;
  list-style: none;
}
.nav-credits__el {
  list-style: none;
  color: #333333;
  font-family: sato;
  margin: 0 16px;
  cursor: pointer;
}
.nav-credits__el:hover {
  border-bottom: 1px solid #333333;
  transition: 0.3s ease-out;
}
.nav-credits__el:visited {
  color: #333333;
}

.credits {
  background-image: -webkit-image-set(url(../assets/images/da/recapquiz.png) 1x, url(../assets/images/da/recapquiz@2x.png) 2x);
  background-image: image-set(url(../assets/images/da/recapquiz.png) 1x, url(../assets/images/da/recapquiz@2x.png) 2x);
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 100%;
  background-size: cover;
  overflow-x: hidden;
  font-family: sato;
  padding-left: 8px;
}
.credits__div {
  margin-bottom: 54px;
}
.credits__div h2 {
  margin-left: 0.5em;
  font-size: 36px;
}
.credits__div ul {
  list-style: none;
  margin-left: 0.5em;
  line-height: 1.6;
  font-size: 16px;
}
.credits__div p {
  margin-left: 0.5em;
  font-size: 16px;
  max-width: 90%;
}

footer {
  overflow-x: hidden;
}

@media (min-width: 481px) {
  .credits h2 {
    font-size: 45px;
  }
  .credits p, .credits ul {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .credits {
    padding-left: 33px;
  }
  .credits h2,
  .credits p,
  .credits ul {
    margin-left: 2rem;
  }
  .credits h2 {
    font-size: 81px;
  }
  .credits p, .credits ul {
    font-size: 24px;
  }
}
.presentation {
  background-image: -webkit-image-set(url(../assets/images/da/recapquiz.png) 1x, url(../assets/images/da/recapquiz@2x.png) 2x);
  background-image: image-set(url(../assets/images/da/recapquiz.png) 1x, url(../assets/images/da/recapquiz@2x.png) 2x);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow-x: hidden;
}

@font-face {
  font-family: "sato";
  src: url("../assets/font/satoshi/satoshi-Regular.otf");
}
@font-face {
  font-family: "clash";
  src: url("../assets/fonts/ClashDisplay-Variable.ttf");
}
.context,
.present,
.difficult,
.equipe,
.pictures {
  margin: auto 16px;
}
.context h2,
.present h2,
.difficult h2,
.equipe h2,
.pictures h2 {
  font-size: 36px;
  font-family: clash;
  font-weight: normal;
}
.context p,
.present p,
.difficult p,
.equipe p,
.pictures p {
  line-height: 1.6;
  font-size: 16px;
  font-family: sato;
}
.context ul,
.present ul,
.difficult ul,
.equipe ul,
.pictures ul {
  list-style: circle;
  font-family: sato;
  line-height: 1.6;
  font-size: 16px;
}

.context,
.present,
.difficult,
.equipe {
  margin-bottom: 74px;
}

.pictures {
  width: 100%;
  margin: auto;
  max-width: 500px;
}
.pictures img {
  width: 100%;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
}
.pictures figure {
  width: 90%;
  margin: auto;
  margin-bottom: 54px;
}
.pictures figcaption {
  font-size: 14px;
  font-family: sato;
}
.pictures__flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.equipe__avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto 5%;
}
.equipe__avatars--salwa {
  background-color: #eeeaea;
}
.equipe__avatars img {
  width: 100px;
  border-radius: 50%;
  margin: 16px;
}
.equipe__li {
  transition: 0.3s ease;
}
.equipe__li:hover {
  transform: scale(1.15);
}

@media (min-width: 481px) {
  .context h2,
  .present h2,
  .difficult h2,
  .equipe h2,
  .pictures h2 {
    font-size: 45px;
  }
  .context p,
  .context ul,
  .present p,
  .present ul,
  .difficult p,
  .difficult ul,
  .equipe p,
  .equipe ul,
  .pictures p,
  .pictures ul {
    font-size: 20px;
  }
  .pictures figcaption {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  .context,
  .present,
  .difficult,
  .equipe {
    width: 70%;
    margin: auto 15% 250px auto;
  }
  .context h2,
  .present h2,
  .difficult h2,
  .equipe h2 {
    font-size: 81px;
  }
  .context p,
  .context ul,
  .present p,
  .present ul,
  .difficult p,
  .difficult ul,
  .equipe p,
  .equipe ul {
    font-size: 24px;
  }
  .pictures {
    width: 500px;
    margin: auto;
  }
  .pictures h2 {
    font-size: 81px;
    text-align: center;
  }
  .pictures figcaption {
    font-size: 18px;
  }
  .equipe__avatars img {
    width: 200px;
  }
}
/* ---------- MEDIA ---------- */
@media (min-width: 769px) {
  .main .title {
    font-size: 108px;
  }
  .main p {
    font-size: 20px;
    max-width: 600px;
  }
  .main__content {
    width: 80%;
    margin: auto 10%;
  }
  .nav__el {
    font-size: 32px;
  }
  .quiz__intro .title {
    font-size: 45px;
  }
  .glass p {
    font-size: 20px;
  }
}
@media (min-width: 1225px) {
  .main p {
    margin-top: 100px;
    background: none;
    border: none;
    color: #e6efeb;
    max-width: 500px;
  }
  .main .title {
    font-size: 200px;
    line-height: 0%;
    width: 100%;
  }
  .quiz__intro {
    padding-top: 111px;
  }
}/*# sourceMappingURL=app.css.map */