$c-bg: #aca0d6;
$c-dark: #000;
$c-glass: rgba(173, 168, 233, 0.5);
$c-glass-hover: rgba(148, 134, 196, 0.5);
$c-light: #e6efeb;

$size-text: 18px;

$quiz-primary-color: rgb(71, 179, 71);
$quiz-secondary-color: rgb(193, 0, 0);
